<!DOCTYPE html>
<html>
<head>
    <title>DeliveryOnGo By Allianz(Sareesh,Soniya and Sreedevi)</title>
    <meta id="viewport" name="viewport">

<script type="text/javascript">
//mobile viewport hack
(function(){

  function apply_viewport(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)   ) {

      var ww = window.screen.width;
      var mw = 800; // min width of site
      var ratio =  ww / mw; //calculate ratio
      var viewport_meta_tag = document.getElementById('viewport');
      if( ww < mw){ //smaller than minimum size
        viewport_meta_tag.setAttribute('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=no, width=' + mw);
      }
      else { //regular size
        viewport_meta_tag.setAttribute('content', 'initial-scale=1.0, maximum-scale=1, minimum-scale=1.0, user-scalable=yes, width=' + ww);
      }
    }
  }

  //ok, i need to update viewport scale if screen dimentions changed
  window.addEventListener('resize', function(){
    apply_viewport();
  });

  apply_viewport();

}());
</script>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="leftHalf">
        <img class="newappIcon" src="~/images/images.jpg" />
        <h3>
            Welcome to the <span class="blue">DeliveryOnGo</span> on Bluemix!
        </h3>
    </div>
    <div class="rightHalf">
        <div align="right" style="padding-right:2%; padding-top:2%; font-style:oblique">
            @Html.ActionLink("Home", "Index", "Home")
        </div>
        <div class="center">
            <header>
                <div class='title'>
                    New User Registration
                </div>
            </header>
            <footer>
                @model CloudantDotNet.Models.UserModel
                @{
                    @using (Html.BeginForm("RegisterUser", "Home", Model, FormMethod.Post))
                    {
                        <div class='tips'>
                            <table style="width:100%">
                                <tr>
                                    <td width="30%" align="right">@Html.LabelFor(model => model.UserName)</td>
                                    <td align="left">@Html.TextBoxFor(model => model.UserName, new { style = "width:250px;" })</td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">@Html.LabelFor(model => model.Password)</td>
                                    <td align="left">@Html.PasswordFor(model => model.Password, new { style = "width:250px;" })</td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">@Html.Label("Reenter Password")</td>
                                    <td align="left">@Html.PasswordFor(model => model.Password, new { style = "width:250px;" })</td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">@Html.LabelFor(model => model.UserType)</td>
                                    <td align="left">
                                        @Html.DropDownListFor(model => model.UserType, new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="Retailer", Value = "1" },
                                    new SelectListItem{ Text="Delivery Person", Value = "2" }
                                })
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">@Html.LabelFor(model => model.EmailID)</td>
                                    <td align="left">@Html.TextBoxFor(model => model.EmailID, new { style = "width:250px;" })</td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">@Html.LabelFor(model => model.Address)</td>
                                    <td align="left">@Html.TextBoxFor(model => model.Address, new { style = "width:250px;" })</td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">@Html.LabelFor(model => model.BankName)</td>
                                    <td align="left">@Html.TextBoxFor(model => model.BankName, new { style = "width:250px;" })</td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right">@Html.LabelFor(model => model.AccountNumber)</td>
                                    <td align="left">@Html.TextBoxFor(model => model.AccountNumber, new { style = "width:250px;" })</td>
                                </tr>
                                <tr>
                                    <td width="30%" align="right"></td>
                                    <td align="left" style="padding-left:16%; padding-top:2%"><input type="submit" value="Register" /></td>
                                </tr>
                            </table>
                        </div>
                    }
                }
            </footer>
</div>
        </div>
</body>
</html>